<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 데이터 바인딩 기법 -->
        <p>{{ num }}</p>
        <p>{{ doubleNum }}</p>
        <!-- 디렉티브 기법 -->
        <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
        <!-- <p id="abc1234"></p> -->
        <!-- 조건이 맞지 않으면 DOM 안에서 아예 사라짐 -->
        <div v-if="loading">
            Loading...
        </div>
        <div v-else>
            test user has been logged in
        </div>
        <!-- 유관상으로만 보이지 않고, css 상에서는 보임 -->
        <div v-show="loading">
            Loading...
        </div>
        <!-- TODO: 인풋 박스를 만들고 입력된 값을 p 태그에 출력해보세요 -->
        <input type="text" v-model="message">
        <p>{{ message }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                num: 10,
                // doubleNum: 10 * 2
                uuid: 'abc1234',
                name: 'text-blue',
                loading: true,
                message: ''
            },
            // 이미 사용한 변수를 다시 사용하는 경우
            computed: {
                doubleNum: function() {
                    return this.num * 2;
                }
            }
            
        })

    </script>
</body>
</html>